.header{
    /* 24E */
    padding: 15px;
    background-color: lightblue;
    /* 54J */
    text-align: center;
    /* 24F */
    box-sizing: border-box;
    font-size: 44px;
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoContainer{
    width: 90vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.video{
    width: 400px;
}
.footer{
    width: 100vw;
    padding: 10px;
    background-color: darkblue;
    text-align: center;
}